<ul class="links">
    <li>
        <a href="https://github.com/eado"><ion-icon name="logo-github" size="large"></ion-icon><noscript>GH</noscript></a>
        <span>GitHub</span>
    </li>
    <li>
        <a href="https://linkedin.com/in/omarelamri"><ion-icon name="logo-linkedin" size="large"></ion-icon><noscript>LI</noscript></a>
        <span>LinkedIn</span>
    </li>
    <li>
        <a href="mailto:omar@eado.me"><ion-icon name="ios-mail" size="large"></ion-icon><noscript>M</noscript></a>
        <span>Email</span>
    </li>
    <li>
        <a href='{{ "/assets/other/resume.pdf" | relative_url }}'><ion-icon name="ios-document" size="large"></ion-icon><noscript>R</noscript></a>
        <span>Résumé</span>
    </li>
    <li>
        <a href="https://omarelamri.notion.site"><ion-icon name="ios-book" size="large"></ion-icon><noscript>N</noscript></a>
        <span>Notes</span>
    </li>
    <li>
        <a href='{{ "/blog" | relative_url }}'><ion-icon name="ios-chatbubbles" size="large"></ion-icon><noscript>B</noscript></a>
        <span>Blog</span>
    </li>
    <li class="darkbutton">
        <noscript>
            <style>
                .darkbutton {
                    display: none;
                }
            </style>
        </noscript>
        <a onclick="setMode(!darkMode)"><ion-icon name="sunny" size="large"></ion-icon></a>
        <span></span>
    </li>
</ul>
