--- 
--- 
body>.content {
    width: 50%;
    margin-left: 25vw;

    @media (max-width: 820px) {
        width: 90%;
        margin-left: 5vw;
    }
}

section .links {
    display: none;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 1vh;
    gap: 0.75rem;
    z-index: 0;

    li span {
        position: relative;
        top: 0;
    }
}

@media (max-width: 640px) {
    section .links {
        display: inline-flex;
    }

    header .links {
        display: none;
    }
}

section.first {
    padding-bottom: 18vh;
}

.post {
    padding-bottom: 3rem;

    span {
        color: var(--alt);
    }

    h1,
    h3 {
        color: var(--acc);
        margin: 0;
    }

    &.header {
        padding-bottom: 1rem;
    }
}

.pagination {
    font-size: 1.25rem;

    a {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 1px solid var(--alt);
}

.end {
    height: 30vh;
}
