<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href='{{ "/assets/css/main.css" | relative_url }}'>
    {% if layout.style %}
    <link rel="stylesheet" href='{{ layout.style | relative_url }}'>{% endif %}
    {% if page.style %}
    <link rel="stylesheet" href='{{ page.style | relative_url }}'>{% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
    <link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>


    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
</head>

<body>
    <div class="bg"></div>
    <header>
        <div class="content">
            <a href='{{ "/" | relative_url }}'>
                <img id="headerpfp" src='{{ "/assets/other/pfp.jpg" | relative_url }}' />
            </a>
            <a href='{{ "/" | relative_url }}'>
                <h1 id="headertxt">Omar Elamri</h1>
            </a>
            {% include links.html %}
        </div>
    </header>
    <div class="content">
        <section class="first"></section>
        {{ content }}
    </div>

    {% if page.script %}
    <script src='{{ page.script | relative_url }}'></script>{% endif %}
    <script src='{{ "/assets/js/main.js" | relative_url }}'></script>
</body>

</html>
